 p 
	{
	font-family: 'Playfair Display', serif;
	}

 .paragraph1  {
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.paragraph2 {
	font-size: 20px;
	line-height: 30px;
	font-family: 'Anton', sans-serif;
}
.paragraph3 {

}
button:default {
	background-color: green:;
}
button:active {
	background-color: yellow;
}
button:hover {
	background-color: red;
	font-size: 30px;
}
a {
	background-color: green;
}
a:hover {
	background-color: red;
	font-size: 30px;
}